<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9739ca0c-98c6-40e9-b35b-2566aeb12e8c/resourceGroups/Lindi_Course/providers/Microsoft.Web/sites/LindiFinancialApp</ResourceId>
    <ResourceGroup>Lindi_Course</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://lindifinancialapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://lindifinancialapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$LindiFinancialApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>